.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.fade-image.show {
  opacity: 1;
}
