.checkbox {
  cursor: pointer;
  &-tick {
    width: 17px;
    height: 17px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    @media (max-width: 1024px) {
      min-width: 17px;
      min-height: 17px;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
  &-noTick {
    width: 17px;
    height: 17px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    @media (max-width: 1024px) {
      min-width: 17px;
      min-height: 17px;
    }
  }
}
