.featured-collection {
  &-video {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    &-container {
      position: relative;
    }
    &-control {
      &-container {
        position: absolute;
        top: 3%;
        right: 3%;
        width: 40px;
        height: 40px;
        background-color: #c0bebd;
        border-radius: 100%;
        opacity: 0.9;
        cursor: pointer;
      }
      &-icon {
        width: 15px;
        height: 15px;
      }
    }
    &-content {
      &-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
        @media (max-width: 1024px) {
             -webkit-line-clamp: 4;
        line-clamp: 4;
          }
        &-wrap {
          height: 120px;
          overflow: hidden;
          margin-top: 10px;
          @media (max-width: 1024px) {
            padding: 0 20px;
            height: 90px;
          }
        }
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 20px;
  }
  &-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }
  }
  &-fontSize {
    &-base {
      font-size: 14px;
      @media (max-width: 1024px) {
        font-size: 11px;
      }
    }
    &-lg {
      font-size: 18px;
      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }
    &-md {
      font-size: 16px;
      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}
