.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.header {
  &-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 120px;
    z-index: 99999;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @media (max-width: 1024px) {
      justify-content: space-around;
    }
    &-background {
      &-white {
        background-color: #ffffff;
      }
      &-black {
        background-color: #000000;
        &-icon {
          filter: invert(1) brightness(2);
        }
      }
    }
  }
  &-logo {
    height: 64px;
    width: 200px;
    cursor: pointer;
    @media (max-width: 1024px) {
      height: 40px;
      width: 120px;
      margin-bottom: 20px;
    }
  }
  &-burger-menu {
    position: absolute;
    right: 32px;
    margin-right: 30px;
    cursor: pointer;
    @media (max-width: 1024px) {
      position: relative;
      right: 0;
      margin-right: 0;
    }
  }
}
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.scroll-to-top:hover {
  background: #333;
}
