.faq {
  background-color: #fff;
  color: #000;
  padding: 60px;
  margin-top: 120px;
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &-section {
    padding-bottom: 24px;
    @media (max-width: 1024px) {
      border-bottom: 1px solid #e5e5e5;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
