.forgetPassword {
  margin-top: 180px;
  &-form {
    width: 30%;
  }
  &-button {
    padding: 12px 5px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 3px;
    width: 40%;
  }
  &-done {
    background-color: #000000;
    border-radius: 100%;
    padding: 3px;
    width: 18px;
    height: 18px;
    &-icon {
      width: 15px;
      height: 15px;
    }
    &-notify {
      width: 50%;
    }
  }
  &-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);
  }
  &-input {
    width: 100%;
    &-error {
      border: 1px solid #dc2626;
      color: #dc2626;
      &:focus {
        outline: #dc2626;
      }
    }
    &-warning {
      color: #dc2626;
    }
    &-correct {
      color: #1ead2a;
    }
    &-phonecode {
      width: 30%;
    }
  }
  &-password {
    position: relative;
    width: 100%;
    &-eye {
      position: absolute;
      right: 5%;
      height: 22px;
      width: 22px;
      cursor: pointer;
    }
  }
}
