.login {
  &-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    @media (max-width: 1024px) {
      background-color: #ffffff;
    }
    &-open {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
    &-closed {
      opacity: 0;
      pointer-events: none;
    }
  }
  &-header {
    background-color: #ffffff;
    height: 100vh;
    width: 35%;
    right: 0;
    position: fixed;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      width: 100%;
    }

    .login-close-wrapper {
      flex-shrink: 0;
      padding: 1rem;
    }

    .login-content {
      overflow-y: auto;
      flex-grow: 1;
    }
  }

  &-close-btn {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &-password {
    position: relative;
    width: 100%;
    &-eye {
      position: absolute;
      right: 5%;
      height: 22px;
      width: 22px;
      cursor: pointer;
    }
    &-forget {
      cursor: pointer;
      width: 100%;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
      @media (max-width: 1024px) {
        font-size: 12px;
      }
    }
  }
  &-button {
    width: 100%;
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #333;
    }
    &-facebook {
      width: 100%;
      background-color: #1877f2;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #145dbf;
      }
    }
    &-google {
      width: 100%;
      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s ease;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  &-create {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &-divider {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  &-checkbox {
    width: 100%;
  }
  &-fontSize {
    &-base {
      font-size: 16px;
      @media (max-width: 1024px) {
        font-size: 13px;
      }
    }
    &-lg {
      font-size: 20px;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
    &-md {
      font-size: 18px;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }
    &-2xl {
      font-size: 30px;
      @media (max-width: 1024px) {
        font-size: 20px;
      }
    }
  }
}
