.madeToOrder {
  margin-top: 120px;
  &-header {
    width: 100%;
    background-color: #000;
    &-navigation {
      width: 100%;
      &-bottom {
        color: #ffffff;
      }
    }
    &-fixed {
      position: fixed;
      z-index: 1000000;
    }
  }
  &-button {
    padding: 12px 24px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    border: 1px solid white;
    background: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;

    &:hover {
      opacity: 0.85;
    }
  }
  &-modal {
    position: fixed;
    z-index: 999999999999;
    background: rgba(0, 0, 0, 0.6);
    &-mandatory {
      color: red;
    }
    &-input {
      width: 100%;
      height: 50px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 2px;
      &-phone {
        width: 75%;
      }
      &-phoneCode {
        width: 200px;
      }
      &-message {
        width: 100%;
        height: 80px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    }
    &-select {
      width: 20%;
      height: 50px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 2px;
      &-phone {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      &-time {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
}
