.newsDetail {
  margin-top: 120px;
  padding: 80px;
  @media (max-width: 1024px) {
    padding: 30px;
  }
  &-content {
    width: 100%;
    figure {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      max-width: 100%;
      @media (max-width: 1024px) {
        width: 100% !important;
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
    .image-style-align-center {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    .image-style-align-left {
      float: left;
      margin-right: 20px;
    }

    .image-style-align-right {
      float: right;
      margin-left: 20px;
    }
    figure[style] {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .font-size-3xl {
      font-size: 34px;
      @media (max-width: 1024px) {
        font-size: 16px !important;
      }
    }
    p {
      @media (max-width: 1024px) {
        font-size: 11px !important;
      }
    }
    &-wrap {
      overflow-x: hidden;
    }
  }
}
